


.box{
    display: grid;
    grid-template-columns: repeat(3,100px);
    justify-content: center;
    position:relative;
    top:100px;
    align-items: center;
    grid-gap: 0ch;
    
}
.lftbox{
    display:grid;
    text-align: center;
    font-weight: bold;
    height: px;
    grid-template-rows: repeat(9,20px );
    }
.text{
    text-align: center;
    font-weight: 500;
    border-bottom: 1px solid black;

}
.text:last-child{
    border-bottom: none;
}
.bod{
    
    border:1px solid black;
    height: 180px;
}
.midbox{
    text-align: center;
    margin: 50px;
    padding: 10px;   
    }
    .rytbox{
    text-align: center;
    font-weight: bold;
    position:relative;
    left:50px;   
}
.txt{
    display: grid;
    grid-template-rows: repeat(9,20px);
    font-weight: bold;

}
